/***************
     RESET
***************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***************
    GENERAL
***************/

body {
    background-color: black;
}

.my-container {
    max-width: 1200px;
    margin: auto;
}

.container h1 {
    text-align: center;
    color: red;
    font-size: 75px;
}

#numlist  {
    display: flex;
    flex-wrap: wrap;
}

#numlist > * {
    border-radius: 10px;
    padding: 40px;
    margin: 10px;
    width: calc(100% / 8);
    font-weight: 900;
    border: none;
}

.bgblue {
    background-color: blue;
}

.bgorange {
    background-color: orange;
}

.bgyellow {
    background-color: yellow;
}
.bglightblue {
    background-color: lightblue;
}

.bgwhite {
    background-color: white;
}